body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../timmy\'s\ portfolio/mee.jpg") top right;
    background-size: cover;
    position: relative;
  }
  
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-family: "Satisfy", serif;
    color: #fff;
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  #hero .btn-scroll {
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.6);
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
  }
  
  #hero .btn-scroll i {
    font-size: 48px;
  }
  
  #hero .btn-scroll:hover {
    color: #ffb727;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 575px) {
    #hero h1 {
      font-size: 40px;
    }
  
    #hero h2 {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(5px);
    }
  
    100% {
      transform: translateY(-5px);
    }
  }
  
  
  .display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

.btn {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}
